/vendor/
.phpunit.result.cache
/tests/Fixtures/App/var/*
/tests/Fixtures/App/cache/*
/tests/Fixtures/App/logs/*
/tests/Fixtures/App/config/packages/api-platform/*
/tests/Fixtures/App/config/packages/expected_serialization/*
/dist/
composer.lock
/build/
