<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/8.5/phpunit.xsd"
        backupGlobals="false"
        colors="true"
        bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="memory_limit" value="-1" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak_vendors" />
        <server name="KERNEL_DIR" value="tests/Fixtures/app/" />
        <server name="KERNEL_CLASS" value="ConfigurationConverter\Test\Fixtures\App\AppKernel" />
        <server name="APP_ENV" value="test" />
        <server name="APP_DEBUG" value="0" />
        <server name="LEGACY" value="0" />
    </php>

    <testsuites>
        <testsuite name="Configuration Converter Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
